<style>
    body{
        
        
    }
    text{
       color: #fff;
    }
</style>
   <% include partials/_header %> 
    <% if (data) { %>
        <% for(var i = 0; i < data.length; i++) { %>
            <% if (data[i].id_sexo == '1') {
            n++;
            } else {
                m++;
        }%>
                <% switch (data[i].id_enfer) {
                case 1:
                    e1++;
                break;
                case 2:
                    e2++;
                break;
                case 3:
                    e3++;
                break;
                case 4:
                    e4++;
                break;
                case 5:
                    e5++;
                break;
                case 6:
                    e6++;
                break;
                case 7:
                    e7++;
                break;
                case 8:
                    e8++;
                break;
            } %>
                    <% if(data[i].edad >= 40 && data[i].edad< 60){
                ed1++;
            }else {
                if(data[i].edad >= 60 && data[i].edad< 70){
                    ed2++;
                } else {
                    if(data[i].edad >= 70 && data[i].edad< 80){
                        ed3++;
                    } else {
                        if(data[i].edad >= 80) {
                            ed4++;
                        }
                    }
                }
            }%>
                        <% } %>
                            <% } %>
                                <style>
                                    
                                    
                                    canvas {
                                        max-width: 500px;
                                        max-height: 500px;
                                        
                                    }
                                    
                                    .center {
                                        display: flex;
                                        justify-content: space-around;
                                        flex-wrap: wrap;
                                        align-items: center;
                                        padding: 10px;
                                        
                                    }
                                </style>
                                <div class="center">
                                    <canvas id="myChart"></canvas>
                                    <canvas id="enfermedad"></canvas>
                                    <canvas id="edad"></canvas>
                                </div>
                                
                                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                <script>
                                    
                                    const ctx = document.getElementById('myChart');
                                    new Chart(ctx, {
                                        type: 'bar',
                                        data: {
                                            labels: ['Datos', 'Hombres', 'Mujeres'],
                                            datasets: [{
                                                label: 'Porcentaje de sexo en los usuarios',
                                                data: ['<%= data.length %>', '<%= n %>', '<%= m %>'],
                                                borderWidth: 1,
                                                backgroundColor: 'rgba(213, 250, 247 )',
                                                
                                            
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                </script>
                                <script>
                                    const enf = document.getElementById('enfermedad');
                                    new Chart(enf, {
                                        type: 'bar',
                                        data: {
                                            labels: ['Cataratas', 'Albinismo', 'Aniridia', 'Degeneracion Macular', ' Glaucoma', 'Miopia Magna', 'Retinopatia Diabetica', ' Distrofias Hereditarias de la Retina'],
                                            datasets: [{
                                                label: 'Porcentaje de Enfermedad en los usuarios',
                                                data: ['<%= e1 %>', '<%= e2 %>', '<%= e3 %>', '<%= e4 %>', '<%= e5 %>', '<%= e6 %>', '<%= e7 %>', '<%= e8 %>'],
                                                borderWidth: 1,
                                                backgroundColor: 'rgba(213, 250, 247 )',
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                </script>
                                <script>
                                    const ed = document.getElementById('edad');
                                    new Chart(ed, {
                                        type: 'bar',
                                        data: {
                                            labels: ['Edad 50 - 60', 'Edad 61-70', 'Edad 70-80', '80+'],
                                            datasets: [{
                                                label: 'Porcentaje de edad en los usuarios',
                                                data: ['<%= ed1 %>', '<%= ed2 %>', '<%= ed3 %>', '<%= ed4 %>'],
                                                borderWidth: 1,
                                                backgroundColor: 'rgba(213, 250, 247  )',
                                                
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                y: {
                                                    beginAtZero: true
                                                }
                                            }
                                        }
                                    });
                                </script>
                                <% include partials/_footer %>
                                